{% extends 'catering/base.html' %}

{% block title %}Diets{% endblock %}

{% block content %}
<style>
    .center-heading {
        text-align: center;
    }

    .order-item {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px 0;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .diet-number {
        font-family: 'American Typewriter', serif; /* Zmiana 'Nunito' na dowolną inną dostępną czcionkę */
        font-size: 35px; /* Dostosuj rozmiar czcionki do swoich preferencji */
        font-weight: bold;
    }
    .diets,
    .diet-name {
        font-family: 'American Typewriter', serif; /* Zmiana 'Nunito' na dowolną inną dostępną czcionkę */
        font-size: 45px; /* Dostosuj rozmiar czcionki do swoich preferencji */
        font-weight: bold;
    }

    .diet-calories,
    .diet-price {
        font-family: 'Courier New', monospace; /* Zmiana 'Nunito' na dowolną inną dostępną czcionkę */
        font-size: 18px; /* Dostosuj rozmiar czcionki do swoich preferencji */
        font-weight: bold;
    }
    .center-button {
        text-align: center;
    }
</style>

<h1 class="center-heading diets">Diets</h1>

<div class="grid">
    {% for diet in diets %}
    <div class="order-item">
        <h2 class="diet-number">{{ diet.number }}</h2>
        <h2 class="diet-name">{{ diet.name }}</h2>
        <h2 class="diet-calories">Calories: {{ diet.calories }}kcal</h2>
        <h2 class="diet-price">Price per day: {{ diet.price_per_day }}zł</h2>
        <img class="item-image" src="{{ diet.image }} " alt="diets">
        <div class="grid-2">
            <a href="{% url 'catering:diets_details' pk=diet.id %}" class="btn btn-light m-2">View details</a>
            {% if user.is_authenticated %}
                <a href="{% url 'catering:make_order' pk=diet.id %}" class="btn btn-light m-2">Order now!</a>
            {% endif %}
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}