{% extends 'catering/base.html' %}

{% block title %}Your orders{% endblock %}

{% block content %}

<style>
    .center-heading {
        text-align: center;
    }

    .order-item {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px 0;
    }
</style>

<h1 class="center-heading">Your orders</h1>

<ul class="order-list">
    {% for order in orders %}
    <li class="order-item item-medium">
        <div class="order-spacing"></div>
        <div>Diet number: {{order.diet.number}}</div>
        <div>Diet name: {{order.diet.name}}</div>
        <div>Date from: {{order.order_date_from}}</div>
        <div>Date to: {{order.order_date_to}}</div>
        <div>Total price: {{order.total_price}}zł</div>
        <img class="item-image" src="{{ order.diet.image }} " alt="diets">
    </li>
    {% endfor %}
</ul>

{% endblock %}